.main-content-wrapper {
    flex-shrink: 0;
    flex-grow: 1;
  }
  main > .content-area {
    overflow-y: auto;
    overflow-x: hidden;
    display: grid;
    align-items: stretch;
    justify-content: stretch;
    height: calc(100vh - 114px);
    padding-right: 2rem !important;
    padding-left: 2rem !important;
    padding-top: 20px;
  }

  #components-layout-demo-side .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  }
  
  .site-layout .site-layout-background {
    background: #fff;
  }

  /* .logo-image{
    margin-top: 20px;
    margin-bottom: 17px;
  } */